body{
  background-color: #EAEAEA !important;
}

.ui.inverted.top.fixed.menu{
  background-image: linear-gradient(135deg, #4BB481 0%, #4BB3B4 69%, #4B7EB4 )!important;
  
}

div .react-datepicker {
  width: 100%;
  border: 5px red;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
}

/* textbox for selecting dates */
.react-datepicker-wrapper {
  width: 100%;
}

/*home page styles*/

.mastHead {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
          135deg,
          #4BB481 0%,
          #4BB3B4 69%,
          #4B7EB4 89%
  ) !important;
  height: 100vh;
}


.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 10px;
  font-weight: normal;
}



/*end home page styles*/

/* xtra small screens */
@media only screen and (max-width: 320px ){

  /* TODO: delete the background image changes after */
  .mastHead {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}

/* small to medium */
@media only screen and (min-width:321px) and (max-width: 480px){
  
  /* TODO: delete the background image changes after */
  .mastHead {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}

/* IPads, medium mobile phones*/
@media only screen and (min-width: 481px) and (max-width: 767px){
  
  /* TODO: delete the background image changes after */
  .mastHead {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

}


/* small laptops  */
@media only screen and (min-width: 768px) and (max-width: 991px){
  /* TODO: delete the background image changes after */
  .mastHead {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}
