body{
  background-color: #EAEAEA !important;
}

.ui.inverted.top.fixed.menu{
  background-image: linear-gradient(135deg, #4BB481 0%, #4BB3B4 69%, #4B7EB4 )!important;
}

div .react-datepicker {
  width: 100%;
  border: 5px red;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
}

/* textbox for selecting dates */
.react-datepicker-wrapper {
  width: 100%;
}

/*home page styles*/

.mastHead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
          135deg,
          #4BB481 0%,
          #4BB3B4 69%,
          #4B7EB4 89%
  ) !important;
  height: 100vh;
}


.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/*end home page styles*/